.career-banner {
    p {
        opacity: 0.70;
    }
}
.category-slider h5 {
    font-size: 20px;
}
.category-slider .slick-slide {
    margin-bottom: 40px;
}
.arrow-right,.arrow-left {
    top: -80px;
}
.arrow-right {
    right: 17px;
}
.arrow-left {
    right: 77px;
}